# Exclude all top-level files and directories (except addons) from ZIP downloads.
# This makes installing through the AssetLib easier, because no files and folders
# need to be unchecked.

/.gitattributes export-ignore
/.gitignore export-ignore
/README.md export-ignore
/LICENSE export-ignore
/CHANGELOG.md export-ignore
/project.godot export-ignore
/docs/example.png export-ignore
/docs/softbody.png export-ignore
/docs/voronoi_cut.png export-ignore
/docs/voronoi_object.png export-ignore
