# Exclude all top-level files and directories (except addons) from ZIP downloads.
# This makes installing through the AssetLib easier, because no files and folders
# need to be unchecked.

/.gitattributes export-ignore
/.gitignore export-ignore
/README.md export-ignore
/LICENSE export-ignore
/CHANGELOG.md export-ignore
/project.godot export-ignore
/docs export-ignore
/docs/example.png export-ignore
/docs/softbody.png export-ignore
/docs/voronoi_cut.png export-ignore
/docs/voronoi_object.png export-ignore
/demo export-ignore
/demo/Asparagus.png export-ignore
/demo/Boil.png export-ignore
/demo/Boiled_Egg_Half.png export-ignore
/demo/demo.tscn export-ignore
/demo/softbody2d_full.png export-ignore
/demo/softbody2d_inner.png export-ignore
/demo/softbody2d.png export-ignore
/demo/softbody2d_phys_bouncy.tres export-ignore
/demo/softbody2d_phys_slippery.tres export-ignore

